<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/api-check/dist/api-check.js"></script>
    <!-- ANGULAR FORMLY W/ BOOTSTRAP -->
    <script src="/angular-formly/dist/formly.js"></script>
    <script src="/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <!-- UI-SELECT DO NOT UPGRADE KEEP AT V0.17.0-->
    <!-- https://github.com/formly-js/angular-formly/issues/681 -->
    <script src="/ui-select/dist/select.js"></script>
    <!-- ANGULAR MATERIAL -->
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-messages/angular-messages.js"></script>
    <script src="/angular-material/angular-material.js"></script>

    <!-- UI SELECT CSS TEMPLATES -->
    <link rel="stylesheet" type="text/css" href="/ui-select/dist/select.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <!-- ANGULAR FORMLY REPEATING SECTION -->
    <script src="/angular-formly-repeating-section/dist/angular-formly-repeating-section.js"></script>
    <!-- TEXTANGULAR -->
    <link rel='stylesheet' href='/textAngular/dist/textAngular.css'>
    <script src='/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/textAngular/dist/textAngular.min.js'></script>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- MATERIALIZE -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="materialize/dist/js/materialize.min.js"></script>
    <!-- PARALLAX -->
    <script type="text/javascript" src="angular-parallax/scripts/angular-parallax.js"></script>
    <!-- SANITIZE HTML -->
    <script src="/main.js"></script>
</head>

<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" class="container" ui-view></div>
</body>

</html>
