<!-- <div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div> -->
<div class="modal-body">
    <!-- <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul> -->
    <!--  <div class="modalheader">
    <h3>Enter Colleague's Email: </h3>
    </div> -->
    <div class='form-header'>
    <form ng-submit="sendCode(email)">
        <div class="row">
            <div class="col-md-8">
                <input type="email" name="email" ng-model="email" placeholder="Enter Colleague's Email">
            </div>
            <div class="col-md-4">
                <button type="submit">SEND LINK</button>
            </div>
    </form>
    </div>
    <div class="message" ng-if="message">
        <h7>{{ message }}</h7>
    </div>
    </div>
    <!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
 -->
