<nav class="navbar navbar-static-top" ng-hide="hide">
    <div class="container nav-container">
        <!-- <div class="navbar-header">
            <a class="navbar-brand">LASSO</a>
        </div> -->
<!--         <div class="navbar-header">
 -->        <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="uib-collapse" data-target="#burger">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
<!--         </div> -->

        <nav uib-collapse="navCollapsed" class="uib-collapse navbar-collapse navHeaderCollapse" id="burger">
            <ul class="nav navbar-nav navbar-center sf-js-enabled show">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}<div><hr class="bottom-line"></div></a></li>
                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ng-click="invitePrompt()">INVITE<div><hr class="bottom-line"></div>  </a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="postings">POSTINGS<div><hr class="bottom-line"></div></a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="useredit">PROFILE<div><hr class="bottom-line"></div></a>
                </li>
                <li ng-show="!isLoggedIn()" ui-sref="login" ui-sref-active="active" class="btn login-button">Login</li>
                <li ng-show="!isLoggedIn()" ui-sref="signup" ui-sref-active="active" class="btn login-button">Signup</li>
                <li ng-show="isLoggedIn()" ng-click="logout()" class="btn login-button">Logout</li>
            </ul>
        </nav>
    </div>
</nav>

