<nav class="navbar navbar-static-top" ng-hide="hide" ng-cloak>
    <div class="container nav-container">
        <!-- <div class="navbar-header">
            <a class="navbar-brand">LASSO</a>
        </div> -->
        <!--         <div class="navbar-header">
 -->
        <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" data-toggle="uib-collapse" data-target="#burger">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--         </div> -->
        <nav uib-collapse="navCollapsed" class="uib-collapse navbar-collapse navHeaderCollapse" id="burger">
            <ul class="nav navbar-nav navbar-center sf-js-enabled show">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}"><i class="fa fa-home" aria-hidden="true"></i>
{{ item.label }}<div></div></a></li>
                
                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="newDescription">
<i class="fa fa-plus pr-5" aria-hidden="true"></i>ADD<div></div></a>
                </li>

                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="candidates">
                        <i class="fa fa-users pr-5" aria-hidden="true"></i>CANDIDATES
                        <div>
                        </div>
                    </a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="postings"><i class="fa fa-suitcase" aria-hidden="true"></i>
POSTINGS<div></div></a>
                </li>

                <li ng-show="!isLoggedIn()" ui-sref="login" ui-sref-active="active" class="btn login-button">
                    <a ui-sref-active="active" ui-sref="useredit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login<div></div></a>
                </li>

                <li ng-show="!isLoggedIn()" ui-sref="signup" ui-sref-active="active" class="btn login-button">
                    <a ui-sref-active="active" ui-sref="useredit"><i class="fa fa-user-plus" aria-hidden="true"></i>
Signup<div></div></a>
                </li>


                <li ng-show="isLoggedIn()" ng-click="logout()" class="btn login-button">
                    <a ui-sref-active="active" ui-sref="useredit"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout<div></div></a>
                </li>

                <li ng-show="isLoggedIn()" class="btn login-button">
                    <a ui-sref-active="active" ui-sref="useredit"><i class="fa fa-user" aria-hidden="true"></i>
PROFILE<div></div></a>
                </li>
                <li ng-show="isLoggedIn()" class="login-button btn">
                    <a ui-sref-active="active" ng-click="invitePrompt()"><i class="fa fa-envelope-o" aria-hidden="true"></i>
INVITE<div></div>  </a>
                </li>
            </ul>
        </nav>
    </div>
</nav>
