<subnav></subnav>
<div class="job-editor-container">
    <div class="boxed job-editor col-md-12 col-sm-12">
        <div class="stages-boxes">
            <div class="row stages-row">
                <div class="col-md-3">
                    APPLIED
                    <div>
                        <small>All new applicants start here.</small>
                    </div>
                </div>
                <div class="col-md-4 stages-container">
                    <div class="typesDemo" ng-repeat="list in beginStage">
                        <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                            <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                <dnd-nodrag>
                                    <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    <div class="name">
                                        <input type="text" ng-model="stage.name" class="background-{{stage.type}} form-control input-sm">
                                    </div>
                                </dnd-nodrag>
                            </li>
                            <li class="dndPlaceholder">
                                Begin
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row stages-row">
                <div class="col-md-3">
                    YOUR RECRUITING STAGES
                    <div>
                        <small>Add and order your own stages.</small>
                    </div>
                </div>
                <div class="col-md-4 stages-container">
                    <div class="typesDemo" ng-repeat="list in customStages">
                        <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                            <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                <dnd-nodrag>
                                    <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    <div class="name">
                                        <input type="text" ng-model="stage.name" class="background-{{stage.type}} form-control input-sm">
                                        <i class="fa fa-times" aria-hidden="true" ng-click="removeStage(stage.id)"></i>
                                    </div>
                                </dnd-nodrag>
                            </li>
                            <li class="dndPlaceholder">
                                Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
                            </li>
                        </ul>
                    </div>
                    <md-button class="md-raised add-stage-button" ng-click="addStage()"><i class="fa fa-plus-circle pr-5" aria-hidden="true"></i> Add Stage</md-button>
                </div>
            </div>
            <div class="row stages-row">
                <div class="col-md-3">
                    HIRED
                    <div>
                        <small>The applicant is hired!</small>
                    </div>
                </div>
                <div class="col-md-4 stages-container">
                    <div class="typesDemo" ng-repeat="list in endStage">
                        <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                            <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                <dnd-nodrag>
                                    <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    <div class="name">
                                        <input type="text" ng-model="stage.name" class="background-{{stage.type}} form-control input-sm">
                                    </div>
                                </dnd-nodrag>
                            </li>
                            <li class="dndPlaceholder">
                                End
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row stages-row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <md-button class="md-raised add-stage-button submit-stages-button" ng-click="submitStages()">Submit Job Posting!</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
