<section id="edit-pipeline">
    <subnav></subnav>
    <div class="job-editor-container">
        <div class="boxed job-editor col-md-12 col-sm-12">
            <div class="stages-boxes col-md-5">
                <div class="row stages-row">
                    <div class="col-md-3">
                        APPLIED
                        <div>
                            <small>All new applicants start here.</small>
                        </div>
                    </div>
                    <div class="col-md-9 stages-container">
                        <div class="typesDemo" ng-repeat="list in beginStage">
                            <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                                <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-selected="selectedCb(stage)" ng-class="{selected: selected === stage}" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                    <dnd-nodrag>
                                        <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                        <div class="name">
                                            <input type="text" ng-model="stage.title" class="background-{{stage.type}} form-control input-sm">
                                        </div>
                                    </dnd-nodrag>
                                </li>
                                <li class="dndPlaceholder">
                                    Begin
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row stages-row">
                    <div class="col-md-3">
                        STAGES
                        <div>
                            <small>Add and order your own stages.</small>
                        </div>
                    </div>
                    <div class="col-md-9 stages-container">
                        <div class="typesDemo" ng-repeat="list in customStages">
                            <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                                <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-selected="selectedCb(stage)" ng-class="{selected: selected === stage}" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                    <dnd-nodrag>
                                        <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                        <div class="name">
                                            <input type="text" ng-model="stage.title" class="background-{{stage.type}} form-control input-sm">
                                            <i class="fa fa-times" aria-hidden="true" ng-click="removeStage(stage.id)"></i>
                                        </div>
                                    </dnd-nodrag>
                                </li>
                                <li class="dndPlaceholder">
                                    Drag and drop to order your hiring stages.
                                </li>
                            </ul>
                        </div>
                        <md-button class="md-raised add-stage-button" ng-click="addStage()"><i class="fa fa-plus-circle pr-5" aria-hidden="true"></i> Add Stage</md-button>
                    </div>
                </div>
                <div class="row stages-row">
                    <div class="col-md-3">
                        OFFER
                        <div>
                            <small>The applicant is hired!</small>
                        </div>
                    </div>
                    <div class="col-md-9 stages-container">
                        <div class="typesDemo" ng-repeat="list in endStage">
                            <ul dnd-list="list.stages" dnd-allowed-types="list.allowedTypes" dnd-disable-if="list.stages.length >= list.max">
                                <li ng-repeat="stage in list.stages" dnd-draggable="stage" dnd-selected="selectedCb(stage)" ng-class="{selected: selected === stage}" dnd-type="stage.type" dnd-disable-if="stage.type == 'unknown'" dnd-moved="list.stages.splice($index, 1)" dnd-effect-allowed="move" class="background-{{stage.type}}">
                                    <dnd-nodrag>
                                        <div dnd-handle class="handle"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                        <div class="name">
                                            <input type="text" ng-model="stage.title" class="background-{{stage.type}} form-control input-sm">
                                        </div>
                                    </dnd-nodrag>
                                </li>
                                <li class="dndPlaceholder">
                                    End
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row stages-row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <md-button class="md-raised add-stage-button submit-stages-button" ng-click="saveStages()">Save Changes</md-button>
                    </div>
                    <div class="col-md-4">
                        <md-button class="md-raised add-stage-button submit-stages-button" ng-click="submitStages()">Publish Job Posting!</md-button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 stages-pipeline">
                <!-- Only show if a stage is selected to edit.-->
                <div ng-hide="selected">
                    Select a stage to customize it's view panels! You can add pre-made interview kits or make your own.
                </div>
                <div ng-show="selected" ng-controller="panelCtrl" class="sample" layout="column" ng-cloak>
                    <md-content class="md-padding">
                        <md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom>
                            <!-- got rid of md-autoselect -->
                            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                                <ng-include src="tab.templateUrl">
                                </ng-include>
                                </md-tab>
                        </md-tabs>
                    </md-content>
                    <form ng-submit="addTab()" layout="column" class="md-padding" style="padding-top: 0;">
                        <div layout="row" layout-sm="column">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
