<!-- <h1>{{ description.title }}</h1>
<h2>{{ description.commitment }}</h2>
<h3>{{ description.country }}</h3>
<h3>{{ description.region }}</h3>
<div ng-bind-html="description.description"></div>
<div ng-repeat="section in description.sections">
  <div>{{ section.sectionTitle }}</div>
  <div ng-bind-html="section.description"></div>
</div> -->


<div class="container descriptionContainer">
  <div class="row">
    <h1>{{ description.title }}</h1>
    <h4 class="otherInfo">{{ description.region }}, {{ description.country }} | {{ description.department }} | {{ description.commitment }}</h4>
    <hr>
  </div>
  <div class="row">
    <div ng-bind-html="description.description"></div>
    <div ng-repeat="section in description.sections" class="section">
      <h4>{{ section.sectionTitle | uppercase }}</h4>
      <div ng-bind-html="section.description"></div>
    </div>
  </div>
  <div class="row button-div">
    <md-button class="md-raised">Apply</md-button>
  </div>
</div>
