#postings-application {
.form-control[disabled], fieldset[disabled] .form-control {
    height: 20px;
}
    #postings-application-preview {
        font-family: Lato;
        font-weight: 400;
        padding: 30px;
        .form-control {
            height: 20px;
            background-color: red;
        }
        .default-inputs {
            margin-bottom: 0px;
        }
        .preview-application-title {
            margin-top: 10px;
        }
        #postings-application-preview-container {
            background-color: #fff;
            padding: 15px;
            input.form-control {
                height: 20px;
            }
            .preview-field-label {
                font-size: 13px;
                color: #515357;
                margin-top: 1px;
            }
            .required {
                color: red;
                padding-left: 3px;
            }
            .default-inputs {
                height: 20px !important;
                input {
                    border-radius: 0;
                    margin-bottom: 0px;
                    height: 20px !important;
                }
            }
            textarea,
            .ui-select-container,
            .custom-text-input {
                margin-top: 10px;
            }
        }
    }
    button {
        outline: 0;
    }
    .submit-button,
    .submit-application-button {
        font-size: 18px;
        font-family: Meta Medium Caps;
        background-image: linear-gradient(to bottom, #266f9c, #205d84);
        background-color: #246892;
        border: 1px solid #194967;
        border-bottom-color: #143a52;
        background-repeat: repeat-x;
        margin-left: 15px;
        margin-top: 65px;
    }
    .submit-application-button {
        float: right;
    }
    font-family: Meta Medium;
    .candidate-information-field-label {
        margin-top: 15px;
    }
    .links-field-label {
        margin-top: 15px;
    }
    .toggle-field {
        toggle-button {
            float: right;
            .btn {
                font-family: "Helvetica Neue";
                font-size: 11px;
                text-transform: uppercase;
                border-radius: 2px;
                padding: 2px 8px;
            }
            .btn:not(:last-child) {
                margin-right: 5px;
            }
            .btn-primary {
                color: darken(#999, 30%);
                background-color: white;
                border-color: white;
                box-shadow: 0 0 0 0 #777;
                transition: box-shadow 0.5s ease-in-out;
            }
            .btn-primary:hover:not(.active) {
                background: #236690;
                color: white;
                -webkit-transition: background-color 0.5s linear;
                -moz-transition: background-color 0.5s linear;
                -o-transition: background-color 0.5s linear;
                -ms-transition: background-color 0.5s linear;
                transition: background-color 0.5s linear;
            }
            .btn-primary.active {
                position: relative;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            }
        }
    }
    .candidate-information-field-label {}
    .panel-info {
        border-color: transparent;
    }
    .panel-body {
        padding: 0;
        .question-preview-container {
            position: relative;
            .handle {
                top: 0px;
                color: #aaa;
            }
            i {
                color: slategray;
            }
            .handle:hover {
                color: darken(#aaa, 20%);
            }
            .question-preview {
                margin-left: 25px;
                .question-basic-question {}
                .question-options {
                    ul {
                        list-style-type: circle;
                    }
                    li {
                        border: none;
                        font-size: 12px;
                    }
                    .bullet {
                        font-size: 5px;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
        }
    }
}

.modal-advanced-panel {
    .dropdown-repeat {
        .repeatsection:not(:first-child) {
            position: relative;
            height: 50px;
        }
        .repeatsection:first-child {
            height: 96px;
            position: relative;
        }
        .remove-button {
            position: absolute;
            top: 20px;
            right: 0;
        }
        #item-0 .remove-button {
            top: 65px;
            //          display:none;
        }
        .form-control {
            width: 85%;
        }
        .AddNewButton {
            margin-left: 15px;
            margin-top: 37px;
        }
    }
}
