#edit-pipeline {
    font-family: 'Open Sans';
    md-select {
        font-family: 'Open Sans';
         margin-left: 15px;
    }
    .ta-root.focussed > .ta-scroll-window.form-control {
        border-color: none;
        box-shadow: none;
    }
    .job-editor {
        border: none;
        margin-bottom: none;
        box-shadow: none;
        border-top: none;
    }
    md-content {
        max-height: 800px;
    }
    text-angular {
        button {
            border: 0;
        }
        .btn-toolbar {
            margin-top: 10px;
        }
    }
    .add-question-button {
        i {
            font-size: 15px;
        }
        padding: 0 20px;
        background-color: #236690;
        color: white;
        margin: 0;
        margin-top: 20px;
        &:hover {
            background-color: lighten(#236690, 10%) !important;
        }
    }
    .question-container {
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 10px;
        .edit-title {
            margin-bottom: 20px;
            margin-top: 15px;
        }
        .edit-description {}
        .editable-wrap .editable-controls > input {
            margin-bottom: 10px;
            outline: 0;
            border-radius: 0;
            width: 100%;
            box-shadow: none;
        }
        .editable-buttons button {
            outline: none;
        }
        .editable-click {
            border-bottom: none;
        }
        .choice-pane {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
    }
    .editable-empty {
        color: #236690;
        font-style: normal;
    }
}

.add-question {
    margin-bottom: 150px;
}

.header {
    font-family: Open Sans;
    margin-bottom: 35px;
}

.stages-pipeline {
    background-color: #f3f3f3;
    padding: 30px;
    md-content {
        background-color: #f3f3f3;
    }
    .question-container {
        background-color: white;
        border-radius: 5px;
    }
}

.stages-boxes {
    font-family: 'Open Sans', HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    small {
        letter-spacing: normal;
    }
    .dndPlaceholder {
        letter-spacing: normal;
    }
    .typesDemo {
        font-family: 'Open Sans';
        .input-sm {
            font-family: 'Open Sans';
            border: none;
            box-shadow: none;
            display: inline;
            width: 90%;
            letter-spacing: 2px;
        }
        .fa-times {
            font-size: 15px;
            color: brown;
            &:hover {
                transition: color 0.3s;
                color: crimson;
            }
        }
        ul[dnd-list] li {
            border-radius: 0;
            /*         &:active {
            background-color: white;
          }*/
        }
        ul[dnd-list] .dndDragging {
            border-color: #236690;
            z-index: 1000;
        }
        i {
            margin-top: 4px;
            font-size: 15px;
        }
    }
    .add-stage-button {
        i {
            font-size: 15px;
        }
        padding: 0 20px;
        background-color: #236690;
        color: white;
        margin: 0;
        &:hover {
            background-color: lighten(#236690, 10%) !important;
        }
    }
    .submit-stages-button {
        padding: 0 20px;
        background-color: #A61C3C;
        color: white;
        margin: 0;
        &:hover {
            background-color: #e91e63 !important;
        }
    }
    .stages-row {
        margin-bottom: 35px;
        // width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
