.boxed {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border-top: 1px solid lighten(#ccc, 7%);
	text-align: left;
}
.job-editor-container {
	margin-left: 25px;
	margin-right: 25px;


}
.job-editor {
	
	padding: 30px;
	position: relative;
	display: inline-block;
	margin-bottom: 100px;


	#postings-description {
		width: 100%;
		font-family: Meta Medium;
		align-content: center;

		#postings-form {
		h1 {
			margin-bottom: 20px;
		}

		hr {
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid #ccc;
		    margin: 1em 0;
		    padding: 0;
		}

		.form-control:focus {
			border-color: #4aa1a1;
			outline: 0;
			box-shadow: none;
		}

		.ta-root.focussed > .ta-scroll-window.form-control {
			border-color: #4aa1a1;
			outline: 0;
			box-shadow: none;
		}
			.ta-editor {
			    min-height: 150px;
			    height: auto;
			    overflow: auto;
			    font-family: inherit;
			    font-size: 100%;
			    // margin:20px 0;
			}

			.ta-toolbar {
				.btn-group {
					button {
						border: none;
					}
				}
			}

			.ta-scroll-window > .ta-bind {
				min-height: 150px;
			}

			.region-field .select2 {
				width: 100%;
			}
			.region-field .select2-choice {
				padding: 8px;
				height: 35px;
				line-height: 18px;

			}
			.description-field-label {
				p {
					margin-bottom: 5px;

				}
			}
			.section-title-field {
				height: 25px;
			}


			.text-editor {
				padding: 15px;
			}

			.sections-field-detail-label {
				color: darken(#ccc, 20%);
			}

			.closings-field-detail-label {
				color: darken(#ccc, 20%);
			}

			// for adding sections
			.remove-button-container {

			}
			.remove-button {
				position: relative;
				bottom: 25px;
				left: 15px;
			}
			.AddNewButton {
			margin-top: 25px;
			margin-bottom: 60px;
			padding-left: 15px;
				button {
					font-family: Meta Medium Caps;
					color: #333;
					background-color: #f8f8f8;
					border: 1px solid #ddd;
					border-radius: 4px 4px 4px 4px;
					letter-spacing: 1px;
				}
				button:hover {
					background-color: rgba(0,0,0,0.1)
				}
			}
			.can-toggle__switch {
				outline: none;
			}
			.closing-field {
				padding-right: 15px;
				padding-left: 15px;
				padding-top: 10px;
			}
			.submit-button {
			font-size: 18px;
			font-family: Meta Medium Caps;
				background-image: linear-gradient(to bottom, #266f9c, #205d84);
				background-color: #246892;
				border: 1px solid #194967;
				border-bottom-color: #143a52;
				background-repeat: repeat-x;
			}

		}

	}	
}