<subnav>
</subnav>
<div class="job-editor-container">
    <div class="boxed job-editor col-md-12 col-sm-12">

                <div class="col-md-12">
                <h1 class="header">Step 2: Customize your application form.</h1>
            </div>
        <div id="postings-application">
            <div id="postings-application-edit" class="col-md-6">
                <form name="form" novalidate>
                    <formly-form model="model" fields="fields" options="options" form="form">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary submit-button" ng-click="onSave()" ng-disabled="form.$invalid">Save Changes</button>
                            <button type="submit" class="btn btn-primary submit-button" ng-click="onSubmit()" ng-disabled="form.$invalid">Submit</button>
                        </div>
                    </formly-form>
                </form>
 <pre>{{model | json}}</pre>
</div>

            <div id="postings-application-preview" ng-controller="previewApplicationCtrl" class="col-md-6">
                <div id="postings-application-preview-container">
                    <form ng-submit="onSubmit()" name="form" novalidate>
                        <formly-form model="model" fields="fields" options="options" form="form">
                        </formly-form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
