navbar {

    display: block;
    background: white;
    font-family: 'Maison Neue Book', HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    .container {
        width: 91%;
        @media (max-width: 850px) {
            width: 100%;
        }
        padding-top: 15px;
    }

    .navbar {
        margin-bottom: 0;
    }

    fullstack-logo {
        margin-top: 5px;
        margin-right: 20px;
        width: 40px;
    }
    a {
        color: #353238;
        opacity: 0.5;
        font-size: 15px;
        @media (max-width: 850px) {
            font-size: 13px;
        }
        letter-spacing: 2px;
        text-transform: uppercase;
        hr {
            background-color: #353238;
            opacity: 0;
            border: none;
            height: 0px;
            margin-bottom: 0px;
        }
    }
    .nav > li > a {
        cursor: pointer;
        transition: opacity 0.3s;
        padding-bottom: 0px;
        @media (max-width: 850px) {
            padding-left: 0px;
        }
        &.active {
            opacity: 1;
            hr {
                opacity: 1;
                margin-top: 5px;
                height: 1px;
            }
        }
        &:hover {
            color: #353238;
            opacity: 1;
            background-color: white;
            hr {
                transition: opacity 0.3s, margin-top 0.3s, height 0.3s;
                opacity: 1;
                margin-top: 5px;
                height: 1px;
            }
        }
        &:focus {
            background: none;
        }
    }
    .login-button {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        background-color: transparent;
        font-size: 15px;
        color: #353238;
        outline: none !important;
        /*border: 1px solid rgba(21, 20, 22, 0.5);*/
        opacity: 0.5;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Maison Neue Book', HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    .login-button:hover {
        transition: opacity 0.3s;
        opacity: 1;
        /*border: 1px solid;*/
        /*background-color: rgba(0, 0, 0, 0.1);*/
    }
    .btn.login-button {
        @media (max-width: 850px) {
            font-size: 13px;
        }
        &:active {
            box-shadow: none;
            opacity: 1;
        }
        &.active {
            box-shadow: none;
            opacity: 1;
        }
        .welcome {
            float: right;
            margin-top: 12px;
            span {
                color: black;
                font-size: 16px;
                margin-right: 5px;
            }
            a {
                color: white;
                cursor: pointer;
            }
        }
    }
}
