.pipe-body-wrapper {
   height: 88%;
   padding: 0px;
  .applicantBar {
    margin: 15px;
    height: 100%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    font-family: Meta Medium Caps;
    .app-bar {
      padding-top: 10px;
      background-color: white;
    }
    .app-section1 {
      text-align: center;
      border-right: 2px solid #eee;
      a {
        color: #66bb6a
      }
    }
    .app-section2 {
      text-align: center;
      a {
        color: #ef5350
      }
    }
  }
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
