<div class="comments-panel" ng-controller="CommentPanelCtrl">
    <div class="row">
        <div class="app-sort col-md-4">
            <ui-select ng-model="sortBy.selected" theme="selectize" title="Choose a person">
                <ui-select-match placeholder="Sort by ...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item in sortSelection">
                    <div ng-bind-html="item.title"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class='col-md-8'>
        <comment ng-repeat="comment in data.comments" comment-data="comment"></comment>
    </div>
    <div class='col-md-4'>
        <form class="ui reply form">
            <div class="field">
                <textarea ng-model="input"></textarea>
            </div>
            <div>
                <md-switch ng-model="toggle" aria-label="Switch" class="md-primary switch" md-no-ink="" ng-change="onChange(toggle)">
                    {{ message }}
                </md-switch>
                <div awesome-rating="rating" class="switch thumbs" awesome-rating-options="options" ng-show="toggle"></div>
            </div>
            <button class="ui primary submit labeled icon button" ng-click="addComment()" ng-disabled="!input">
                <i class="icon edit"></i> Add Comment
            </button>
        </form>
    </div>
</div>
