.form-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 70%;
}

.login-signup-form {

    align-self: center;

    #stockphoto {}
    .submission-parent {
        text-align: center;
    }
    .submission {
        background-color: lighten(#055864, 10%);
        color: #f2f2f2;
        font-family: 'Abel', sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        width: 65%;
        &:hover {
            transition: background-color 0.3s;
            background-color: lighten(#055864, 15%);
            color: #f2f2f2;
        }
    }
    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #login-form {
        width: 60%;
        margin: auto auto;
        padding: 20px 20px;
        vertical-align: middle;
        /*border: 3px solid rgba(53, 50, 56, 0.5);*/
        background-color: white;
        vertical-align: middle;
        .form-control {
            padding-bottom: 7px;
            font-size: 16px;
            letter-spacing: 2px;
            font-family: 'Abel', sans-serif;
            text-align: center;
            outline: none !important;
            border: none;
            box-shadow: none;
            background-color: lighten(#f2f2f2, 2%);
        }
        /*background-color: white;*/
    }
    img {
        width: 80%;
        display: block;
        margin: auto;
    }
    .signup {
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    .divider {
        font-family: 'Abel', sans-serif;
        text-align: center;
        color: #C9BFBF;
    }
}
.login-band {
    width: 100%;
}
.login {
    width: 60%;
    @media (max-width: 850px) {
        width: 575px;
    }
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Abel);
