* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
	font-family: Meta Medium;
	src: url("/media/meta-medium.ttf");
}

@font-face {
	font-family: Meta Medium Caps;
	src: url("/media/meta-medium-caps.ttf");
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'postings/main';