<div class="col-sm-3 applicantBar">
    <div class="row app-bar">
        <a ui-sref="pipeline.stage({stageId: currentStageId, qualified: true})">
            <div class="col-md-6 app-section1" ng-class="{'app-section-clicked': !qualified}">
                Qualified <span>{{numQualified}}</span>
            </div>
        </a>
        <a ui-sref="pipeline.stage({stageId: currentStageId, qualified: false})">
            <div class="col-md-6 app-section2" ng-class="{'app-section-clicked': qualified}">
                Disqualified <span>{{numDisqualified}}</span>
            </div>
        </a>
    </div>
    <div class="app-filter-container col-md-12">
        <div class="app-filter col-md-8"><i class="fa fa-filter pr-10" aria-hidden="true"></i><span><input class="filter-input" placeholder="Filter by name or #tag" ng-model="nameFilter"></input></span></div>
        <div class="app-sort col-md-4">
            <ui-select ng-model="sortBy.selected" theme="selectize" title="Choose a person">
                <ui-select-match placeholder="Sort by ...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="item in sortSelection">
                    <div ng-bind-html="item.title"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    {{currentStage.title}}
    <div ng-show="qualified" ng-repeat="candidate in candidates | filter: filterByQualified | filter: filterByName" ui-sref="pipeline.stage.candidate({candidateId: candidate.id, test: 1})">
        <div class="candidate-block col-md-12">
            <div class="candidate-avatar col-md-2">
                <ng-avatar bg-color="#166088" initials="{{getInitials(candidate.application.fullNameField)}}"></ng-avatar>
            </div>
            <!--             <div class="candidate-chart col-md-4">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-options="options" chart-labels="labels">
                </canvas>
            </div> -->
            <div class="candidate-essential-info col-md-10">
                <div class="candidate-name">
                    {{candidate.application.fullNameField}}
                </div>
                <div class="candidate-tags">
                    #sample tag
                </div>
                <div class="candidate-source">
                    from lasso.io : 11 days ago
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="qualified" ng-repeat="candidate in candidates | filter: filterByDisqualified | filter: filterByName" ui-sref="pipeline.stage.candidate({candidateId: candidate.id})">
        <div class="candidate-block col-md-12">
            <div class="candidate-avatar col-md-2">
                <ng-avatar bg-color="#166088" initials="{{getInitials(candidate.application.fullNameField)}}"></ng-avatar>
            </div>
<!--             <div class="candidate-chart col-md-4">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-options="options" chart-labels="labels">
                </canvas>
            </div> -->
            <div class="candidate-essential-info col-md-10">
                <div class="candidate-name">
                    {{candidate.application.fullNameField}}
                </div>
                <div class="candidate-tags">
                    #sample tag
                </div>
                <div class="candidate-source">
                    from lasso.io : 11 days ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 candidate-main" ui-view></div>
